<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>xSg3kOuqXipyLMgs22EYS6HxSI8hRfM8thmbOymG</string>
	<key>baseUrl</key>
	<string>https://api.nasa.gov/mars-photos/api/v1</string>
	<key>missionPages</key>
	<dict>
		<key>opportunity</key>
		<dict>
			<key>scheme</key>
			<string>https</string>
			<key>host</key>
			<string>www.jpl.nasa.gov</string>
			<key>path</key>
			<string>/missions/mars-exploration-rover-opportunity-mer</string>
		</dict>
		<key>spirit</key>
		<dict>
			<key>scheme</key>
			<string>https</string>
			<key>host</key>
			<string>www.jpl.nasa.gov</string>
			<key>path</key>
			<string>/missions/mars-exploration-rover-spirit-mer-spirit</string>
		</dict>
		<key>curiosity</key>
		<dict>
			<key>scheme</key>
			<string>https</string>
			<key>host</key>
			<string>www.jpl.nasa.gov</string>
			<key>path</key>
			<string>/missions/mars-science-laboratory-curiosity-rover-msl</string>
		</dict>
	</dict>
</dict>
</plist>
